@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'minecraft';
    src: url('/minecraft.otf') format('opentype');
}

@font-face {
    font-family: 'minecraft-small-caps';
    src: url('/Minecraft Small Caps.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'minecraft-small-caps';
    src: url('/Minecraft Small Caps Bold.ttf') format('truetype');
    font-weight: bold;
}

@layer base {
    :root {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;
        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 72.2% 50.6%;
        --primary-foreground: 0 85.7% 97.3%;
        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 72.2% 50.6%;
        --radius: 0.5rem;
    }

    main {
        @apply m-5;
    }

    header {
        @apply flex flex-col p-2 mb-2 justify-center items-center rounded-lg;
    }

    header > h1 {
        @apply text-3xl md:text-6xl font-black;
    }

    header > h2 {
        @apply text-lg md:text-3xl font-medium;
    }

    h1 {
        @apply text-xl md:text-2xl;
    }

    img {
        @apply pointer-events-none select-none;
    }

    p {
        @apply text-sm md:text-base;
    }

    code {
        @apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] text-sm font-semibold;
    }

    a {
        @apply hover:underline
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

@layer components {
    .blinker {
        @apply animate-blink inline-block w-1 h-6 ml-2;
    }

    .blinker-visible {
        @apply bg-theme;
    }

    .palette-skeleton {
         background: linear-gradient(90deg, rgb(53, 58, 60) 0%, rgb(71, 78, 81) 100%) !important;
    }
}

#sidebar-content > button {
    @apply flex items-center justify-center bg-cover bg-center w-12 h-12 rounded-md transition-all hover:scale-105 hover:brightness-110 active:scale-90 bg-zinc-700;
}

.palette-color {
    @apply cursor-pointer transition-all md:hover:scale-125 active:scale-[120%] active:rounded-sm md:hover:rounded-md md:hover:shadow-black/20 md:hover:shadow-lg w-full;
    background-color: var(--color);
    padding-bottom: 100%;
}

.palette-color-wrapper {
    @apply transition-all z-0 hover:z-50 w-full;
}

.palette-container {
    grid-template-columns: repeat(19, 1fr);
    grid-template-rows: repeat(8, 1fr);
    @apply rounded-s grid md:w-3/4 w-full m-auto grid-flow-row md:grid-flow-col md:rotate-0 rotate-90 -scale-y-100 md:scale-y-100 mt-[30%] md:mt-0;
}

.palette-color-text {
    background: var(--color);
    color: var(--text-color);
    font-family: 'minecraft', 'Space Grotesk Variable', 'monospace';
    @apply p-1 rounded-md font-medium mx-2 bg-cover transition-all border-zinc-700 border-2 bg-bottom hover:p-5 z-10 relative;
}